@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-black-transparent {
    background-color: rgba(0, 0, 0, 0.95);
    padding: 20px;
    border-radius: 8px;
  }

.bg-gray-900 {
  background-color: rgba(0, 0, 0, 0.9);
}

.gradient-text {
  background: linear-gradient(
    to right,
    #ffffff,
    #a1a1aa,
    #ffffff,
    #a1a1aa,
    #ffffff
  );
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.project-card {
  transition: transform 0.5s ease-out;
}

.project-card img {
  border-radius: 15px;
}

.project-card .text-left {
  text-align: left;
}

.project-card .text-right {
  text-align: right;
}
